<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Modifier le parcours</h1>
  <%= link_to "Retour", admin_onboarding_templates_path, class: "btn btn-outline-secondary" %>
</div>

<%= render 'form' %>
